* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
    color: #fff;
}


.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00eaff;
}


.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    width: 350px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #00eaff;
    margin-bottom: 20px;
    box-shadow: 0 0 25px rgba(0,234,255,0.6);
}

.hero h2 {
    font-size: 42px;
}

.hero span {
    color: #00eaff;
}

.hero p {
    margin: 15px 0;
    font-size: 18px;
}

.btn {
    margin-top: 10px;
    padding: 12px 28px;
    background: #00eaff;
    color: #000;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}


.section {
    padding: 90px 15%;
    text-align: center;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}


.skills span {
    display: inline-block;
    margin: 10px;
    padding: 12px 22px;
    background: rgba(255,255,255,0.12);
    border-radius: 25px;
    transition: 0.3s;
    cursor: pointer;
}

.skills span:hover {
    background: #00eaff;
    color: #000;
    transform: translateY(-5px);
}

.projects {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    text-decoration: none;
}

.card {
    width: 280px;
    padding: 25px;
    background: rgba(255,255,255,0.12);
    border-radius: 15px;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
}

.card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 10px 25px rgba(0,234,255,0.4);
}


footer {
    background: rgba(0,0,0,0.5);
    text-align: center;
    padding: 25px;
    font-size: 14px;
    letter-spacing: 1px;
}
